body{
	font-family: font-family: 'Roboto', sans-serif;
}


img{
	max-width: 100%;
	height: 40px;
}
.nav-link{
	color: white!important;
	font-size: 18px;
}
.nav {
    background: #24292e !important;
     font-weight: 700;
}
.service-section{
	background: url(../images/bg.svg);
	background-color: #2b3137;
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.service {
    margin-top: 187px;
    color: white;
}
.service h1 {
    font-size: 50px;
    margin-bottom: 20px;
    width: 216px;
    font-weight: 700;

}
.service p{
	font-size: 18px;
	color:#ffffff99;
	 font-weight: 700;
}
.form-box{
	background-color:white;
	padding: 30px;
	border-radius: 5px; 
	margin-top: 70px;
}
.form-box h2 {
    background-color: #2ebc4f;
    padding: 20px 0;
    text-align: center;
    color: white;
    font-weight: 700;
    margin: 35px 0px;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    color: white;
     font-weight: 700;
}
p {
    margin: 0px;
    
}